name: Pint & Prettier auto fix

on:
  workflow_call:
    inputs:
      node-version:
        description: 'Versione di Node.js'
        required: false
        default: '22'
        type: string

permissions:
  contents: write
  pull-requests: write

jobs:
  php-code-styling:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}

      - name: Fix PHP code style issues
        uses: aglipanci/laravel-pint-action@2.6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm

      - name: Install Node dependencies
        run: npm ci

      - name: Run Prettier
        run: npx prettier --write .

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'style: pint & prettier auto fix '
