name: Build Frontend

on:
  workflow_call:
    inputs:
      node-version:
        description: "Versione di Node.js"
        required: false
        default: "22"
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm

      - name: Install Node Dependencies
        run: npm ci

      - name: Build Assets
        run: npm run build

    #   - name: Upload build artifacts
    #     uses: actions/upload-artifact@v4
    #     with:
    #       name: frontend-build
    #       path: public/build
    #       retention-days: 7
